/*--------------------- INICIA Header all pages--------------------- */
@import 'variables';

header {
    font-size: 25px;
    height: max-content;
    justify-content: center;
    background-color: $color1;
    color: $color4;


    .logotipe {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }

    nav {
        margin-left: 30vw;

        li {
            padding: 10px;

            a {
                text-decoration: none;
                background-image: linear-gradient($color1, $color2);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 5px;
                transition: background-size .3s;

                &:hover {
                    background-size: 100% 2px;
                    background-color: $color1;
                    border-radius: 10px;
                }
            }
        }
    }
}

/*--------------------------- FIN header------------ */
